<script id="bootstrap=current-user" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render('api/users/user.json.jbuilder',
      user: current_user).html_safe %>
  <% end %>
</script>
<script src="http://localhost:3000/livereload.js"></script>
<main id='root'></main>
