.dashboard {
  width: 960px;
  height: 100vh;
  margin: 0 auto;
}

.friends_pane {
  float: left;
  width: 200px;
  display: block;
  height: 100%;
  padding-top: 10px;
}

.summary_pane, .expenses_pane {
  float: left;
  width: 560px;
  display: block;
  box-shadow: 0 5px 10px #696969;
  height: auto;
  min-height: 100vh;
  padding-top: 1px;
  padding-bottom: 10px;
  position: relative;
  z-index: 3;
}

.detail_pane {
  position: absolute;
  left: 560px;
  top: 0;
  width: 200px;
  display: block;
  height: 100%;
  padding-top: 10px;
}
