.expense_item {
  width: 550px;
  margin: 0 auto;
  height: 40px;
  display: block;
  box-shadow: 0 3px 1px -2px #aaa;
  padding: 10px 5px;
  position: relative;
  cursor: pointer;
}

.expense_date {
  float: left;
  display: block;
  font-size: 14px;
  width: 40px;
  word-wrap: break-word;
  font-weight: 600;
  margin-right: 20px;
  color: #696969;
}

.expense_date > strong {
  font-size: 24px;
  text-align: center;
  padding: 0 2px;
}

.loan_summary {
  position: absolute;
  right: 5px;
  top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.loan_summary li {
  float: left;
  padding-left: 10px;
}

.payer_summary h6 {
  text-align: right;
}

.loan_summary h5 {
  font-size: 12px;
  color: #aaa;
  font-weight: 600;
}

.loan_summary h6 {
  font-weight: 700;
}

.payer_summary h5 {
  text-align: right;
  float: right;
}

.debtor_summary {
  display: block;
  width: 120px;
}

.expense_description {
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  font-size: 20px;
}

.user_debt_summary h6 {
  color: rgb(255, 101, 47);
}

.user_leant_summary h6 {
  color: rgb(91, 197, 167);
}

.expenses_header {
  padding: 10px 20px 35px 5px;
  background: #eee;
  box-shadow: 0 3px 1px -2px #aaa;
}

.expenses_header h1 {
  float: left;
  font-weight: 700;
  font-size: 24px;
}

.expenses_header a {
  float: right;
  background-color: rgb(255, 120, 47);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  text-shadow: 0 0 1px #000;
  cursor: pointer;
  box-shadow: 0 0 1px #aaa;
}

.expenses_header a:hover {
  background-color: rgb(255, 120, 47);
}

.loan_summary button {
  color: #fff;
  background-color: rgb(255, 120, 47);
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  text-shadow: 0 0 1px #000;
  cursor: pointer;
  box-shadow: 0 0 1px #aaa;
}
