.dash_header {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: rgb(91, 197, 167);
  position: relative;
  text-shadow: 0 0 1px #ccc;
}

.dash_header::before {
  display: inline-block;
  background: image-url("CheckMate-image.png");
  content: "";
  background-size: cover;
  height: 25px;
  width: 25px;
}

.friend_filter,
.friend_requests {
  margin-top: 10px;
  font-size: 14px;
  width: 180px;
}

.friend_filter h1 {
  margin-top: 5px;
}

.friend_filter input,
.user_search input {
  border: 1px solid #ccc;
  margin: 3px 0;
  border-radius: 3px;
  padding: 3px;
}

.friend_filter input:focus,
.user_search input:focus {
  box-shadow: 0 0 3px rgb(255, 101, 47);
}

.friend_filter h1,
.friend_requests h1,
.user_search h1 {
  background: #eee;
  border-radius: 5px;
  padding: 3px;
  width: 180px;
  color: #696969;
  box-shadow: 0 0 1px #ccc;
  margin-bottom: 3px;
}

.friend_filter a {
  display: block;
  color: 	#696969;
  padding: 5px;
}

.friend_filter a:hover {
  background-color: #eee;
}

.friend_requests > ul > li {
  height: 20px;
  line-height: 20px;
  margin: 2px 0;
}

.req_name, .pending_name, .search_name {
  float: left;
  color: 	#696969;
  padding-left: 3px;
}

.approve_friend, .deny_friend {
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 1px #000;
  margin: 2px 0;
  float: right;
  padding: 0 5px;
  text-shadow: 0 0 1px #000;
}

.approve_friend {
  background-color: rgb(91, 197, 167);
}

.approve_friend:hover {
  background-color: rgb(91, 205, 167);
}

.deny_friend {
  background-color: rgb(255, 101, 47);
}

.deny_friend:hover {
  background-color: rgb(255, 120, 47);
}

.pending_name {
  width: 180px;
  background-color: rgb(255, 140, 47);
  opacity: 0.6;
  color: #000;
  border-radius: 5px;
}

.user_search h1 {
  margin-top: 10px;
}

.user_search input[type=submit] {
  background-color: rgb(91, 205, 167);
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.req_button {
  background-color: rgb(91, 197, 167);
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 1px #000;
  margin: 2px 20px 2px 5px;
  float: right;
  padding: 0 5px;
  text-shadow: 0 0 1px #000;
  height: 14px;
  line-height: 14px;
}

.req_button:hover {
  background-color: rgb(91, 205, 167);
}
