.header {
  background-color: rgb(91, 197, 167);
  color: #fff;
  box-shadow: 0 0 5px #000;
  z-index: 1;
}

.navbar {
  width: 960px;
  margin: 0 auto;
  padding: 0 6px;
}

.logo {
  font-family: 'Merriweather', serif;
  font-size: 19px;
  float: left;
  padding: 10px 0;
  cursor: pointer;
}

.logo:hover {
  text-shadow: 0 0 1px #aaa;
}

.nav_login_form {
  float: right;
  position: relative;
}

.nav_buttons {
  display: block;
  height: 39px;
  height: 50%;
  text-shadow: 0 0 1px #000;
  font-size: 12px;
}

.nav_buttons > li {
  float: right;
  margin: 0 5px;
  height: 30px;
  line-height: 30px;
  margin-top: 7px;
  text-align: center;
  cursor: pointer;
}

.nav_buttons button {
  cursor: pointer;
}

.nav_login {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  padding: 0 5px;
  width: 60px;
}

.nav_login:hover {
  background-color: rgb(91, 205, 167);
}

.nav_signup {
  background-color: rgb(255, 101, 47);
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  padding: 0 5px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}

.nav_signup:hover {
  background-color: rgb(255, 120, 47);
}

.nav_form_input {
  display: none;
}

.nav_form_input_displayed {
  position: absolute;
  top: 43px;
  right: 0;
  background-color: #eee;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 1px 1px #000;
  z-index: 1;
}

.nav_form_input_displayed input {
    width: 220px;
    padding: 5px;
    margin: 5px 0;
}
.nav_form_input_displayed input:focus {
  box-shadow: 0 0 3px rgb(255, 101, 47)
}

.nav_form_input_displayed input[type=submit] {
  background-color: rgb(91, 197, 167);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  cursor: pointer;
}

.nav_form_input_displayed input[type=submit]:hover {
  background-color: rgb(91, 205, 167);
}

.nav_form_input_displayed input[type=text],
input[type=password] {
  background-color: #fff;
  box-shadow: 0 0 1px #000;
  color: #000;
}

.nav_form_input_displayed > button {
  background-color: rgb(255, 101, 47);
  text-align: center;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
  cursor: pointer;
}

.nav_form_input_displayed > button:hover {
  background-color: rgb(255, 120, 47);
}

.nav_login_form .errors {
  margin: 5px;
  color: #000;
}

.nav_login_form .errors > li {
  position: relative;
  font-size: 14px;
  float: left;
  padding: 3px;
  box-shadow: -1px 1px 1px #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav_login_form .errors > li:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3px;
  content: "";
  background-color: rgb(91, 197, 167);
  width: 3px;
  margin-right: 10px;
}

.account_menu {
  height: 42px;
}

.account_menu > h3 {
  float: right;
  height: 42px;
  line-height: 42px;
  padding-right: 10px;
}

.account_menu > button {
  float: right;
  cursor: pointer;
  font-size: 12px;
  background-color: rgb(255, 101, 47);
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
}

.account_menu > button:hover {
  background-color: rgb(255, 120, 47);
}
