.signup_content {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  text-shadow: 0 0 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
  padding-bottom: 5px;
}

.signup_content::before {
  display: inline-block;
  vertical-align: middle;
  background: image-url("CheckMate-logo.png");
  content: "";
  background-size: cover;
  height: 300px;
  width: 450px;
}

.signup_form {
  float: right;
  width: 500px;
  height: 250px;
  padding: 25px 0;
}

.signup_form > h2 {
  float: left;
  width: 100%;
  color: #ccc;
  text-shadow: 0 0 1px #ccc;
  font-size: 24px;
  padding-bottom: 10px;
}
.signup_form > h3 {
  padding-top: 20px;
  font-weight: 400;
}

.signup_form input {
  padding: 5px;
  margin: 10px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup_form input:focus {
  box-shadow: 0 0 3px rgb(255, 101, 47)
}

.signup_form input[type=submit]{
  color: #fff;
  background-color: rgb(255, 101, 47);
  padding: 20px;
  text-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
  border-radius: 10px;
  cursor: pointer;
}

.signup_form input[type=submit]:hover {
  background-color: rgb(255, 120, 47);
}

.signup_errors {
  display: block;
  float: right;
  width: 500px;
}

.signup_errors > li {
  position: relative;
  font-size: 14px;
  float: left;
  padding: 3px;
  box-shadow: -1px 1px 1px #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 2px 10px;
}

.signup_errors > li:before {
  display: block;
  position: absolute;
  top:0;
  bottom: 0;
  left: -3px;
  content: '';
  background-color: rgb(255, 101, 47);
  width: 3px;
  margin-right: 10px;
}
