<!DOCTYPE html>
<html>
  <head>
    <title>CheckMate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="/assets/CheckMate-image.png" rel="shortcut icon" type="image/x-icon" />
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
